/*========================================================
  SECTION TITLE
========================================================*/

.section-label{

    display:inline-block;

    margin-bottom:1rem;

    color:var(--accent-color);

    font-size:.85rem;

    font-weight:700;

    letter-spacing:2px;

    text-transform:uppercase;

}



.section-title{

    font-size:3rem;

    font-weight:800;

    line-height:1.1;

    margin-bottom:1.5rem;

}
